In [6]:
import os
import sys
import pandas as pd
import networkx as nx
import pickle

In [7]:
DG = nx.DiGraph()

In [15]:
with open('pgres.pickle', 'rb') as handle:
    pgres = pickle.load(handle)

invpg = {pgres[k]:k for k in pgres.keys()}

In [67]:
teams = ["Memphis", "Boise St."]
teams = ["Alabama", "Notre Dame"]
teams = ["North Carolina", "Marquette"]
teams = ["Seton Hall", "TCU"]
teams = ["Colorado St.", "Michigan"]
teams = ["Duke", "Boise St."]
teams = ["San Diego St.", "Creighton"]
teams = ["Seton Hall", "TCU"]
teams = ["Memphis", "Boise St."]
teams = ["Arkansas", "UConn"]
teams = ["Alabama", "Texas Tech"]
teams = ["UCLA", "Saint Mary's (CA)"]
teams = ["Houston", "Illinois"]
teams = ["Colorado St.", "Tennessee"]
teams = ["Providence", "Iowa"]
teams = ["LSU", "Wisconsin"]
teams = ["Auburn", "USC"]
teams = ["Gonzaga", "UConn"]
teams = ["Texas Tech", "Duke"]
teams = ["UCLA", "Baylor"]
teams = ["Kentucky", "Purdue"]
teams = ["Arizona", "Houston"]
teams = ["Villanova", "Tennessee"]
teams = ["Kansas", "Iowa"]
teams = ["Auburn", "LSU"]
teams = ["Gonzaga", "Duke"]
teams = ["Kentucky", "UCLA"]
teams = ["Houston", "Tennessee"]
teams = ["Kansas", "Auburn"]
teams = ["Gonzaga", "Kentucky"]
teams = ["Houston", "Auburn"]
teams = ["Gonzaga", "Auburn"]
for k in teams:
    print(f" {k} {pgres[k]*1000}")

 Gonzaga 0.5017987767973922
 Auburn 0.49099290902270376

In [46]:
for i, k in enumerate(sorted(invpg.keys(), reverse=False)[:100]):
    print(f"{i}:  {invpg[k]} {k*1000}")

0:  Auburn 0.49099290902270376
1:  Houston 0.4924992677655311
2:  San Francisco 0.494899305122631
3:  Gonzaga 0.5017987767973922
4:  Kentucky 0.5161893027883739
5:  UCLA 0.5220917283613
6:  Kansas 0.5254268293900278
7:  UConn 0.5392321879227823
8:  Arizona 0.5443379657296323
9:  Southern California 0.5482711988242109
10:  Duke 0.5488451711400882
11:  Baylor 0.5508928539102989
12:  North Texas 0.5554458614742527
13:  Texas Tech 0.564535487332545
14:  Tennessee 0.565312372434988
15:  Seton Hall 0.5745641217526316
16:  Purdue 0.5749603867050523
17:  Villanova 0.5768791836631262
18:  Saint Mary's (CA) 0.5812074980115298
19:  Texas 0.5904162263570656
20:  Colorado St. 0.5934259417727274
21:  Iowa 0.5959505985754693
22:  LSU 0.5991911041166486
23:  Davidson 0.6026840973476743
24:  Loyola Chicago 0.606105829668153
25:  San Diego St. 0.6228025398986007
26:  Wisconsin 0.6240986258490314
27:  Murray St. 0.6247088922864691
28:  Kansas St. 0.6334281491290987
29:  TCU 0.6407335989424247
30:  Oklahoma 0.6468080031538942
31:  Wichita St. 0.6554739090488955
32:  Xavier 0.6611059228360128
33:  Oklahoma St. 0.6661659252302012
34:  Drake 0.6682540580394911
35:  Illinois 0.6692432983132837
36:  Vermont 0.6718344583920955
37:  Texas A&M 0.6723997108665267
38:  DePaul 0.6756538201856065
39:  Wyoming 0.6779924881699213
40:  BYU 0.6837418887101359
41:  Vanderbilt 0.6889100604083124
42:  Virginia Tech 0.6901306423777136
43:  Marquette 0.6924592880098672
44:  Iowa St. 0.6947974169124703
45:  Notre Dame 0.695958752701342
46:  Arkansas 0.7051418231343528
47:  UAB 0.7059805602141174
48:  Memphis 0.7085858208389497
49:  Belmont 0.7093981739794132
50:  Saint Louis 0.7129892197224111
51:  Indiana 0.7153614519560166
52:  West Virginia 0.7258728528420134
53:  St. John's (NY) 0.7310193475587543
54:  Fresno St. 0.7324394943688445
55:  Providence 0.7382730025287264
56:  Ohio St. 0.7385340733023475
57:  Wake Forest 0.7436565502928897
58:  Louisiana Tech 0.7512790640504491
59:  UNI 0.7577051092697473
60:  Miami (FL) 0.7626353666313269
61:  Northwestern 0.7681361615999391
62:  Michigan St. 0.7738464521804224
63:  Abilene Christian 0.7762832007664875
64:  Florida 0.7893055835142276
65:  Grand Canyon 0.7902571942730813
66:  Creighton 0.7935677464528534
67:  Butler 0.8081675197188553
68:  Santa Clara 0.8097129813338697
69:  Maryland 0.8128206319495934
70:  Alabama 0.8163129506075417
71:  Tulane 0.8263398810078788
72:  Washington St. 0.8274429767487421
73:  Cincinnati 0.8283186893462228
74:  Western Ky. 0.8299941002963966
75:  SMU 0.8452689155301117
76:  Middle Tenn. 0.8599670027079829
77:  Princeton 0.8632569067738409
78:  St. Bonaventure 0.8691920866419468
79:  Mississippi St. 0.8753650270358567
80:  VCU 0.8767165195793154
81:  East Carolina 0.8805091162227073
82:  Colorado 0.8923813587015176
83:  Clemson 0.8937043363271938
84:  Michigan 0.8940762378532148
85:  Utah St. 0.9032713733379838
86:  Richmond 0.9125530998185495
87:  North Carolina 0.9306873227540405
88:  Stanford 0.9314429885669607
89:  Oregon 0.9557522099475028
90:  Montana St. 0.9603642820449766
91:  Seattle U 0.9736100757043911
92:  Georgia Tech 0.9753146906942576
93:  Missouri St. 0.9823157330284124
94:  Ohio 0.9885153466346128
95:  Minnesota 0.9895222856397845
96:  Virginia 0.9897530545279585
97:  Iona 0.9900515649164459
98:  UNLV 0.9957951599508497
99:  Rutgers 1.0053307815172607

In [12]:
teams = ["Duke", "Gonzaga", "Kansas", "Arizona"]

for team in teams:
    print(f" {team} {pgres[team]*1000}")

 Duke 0.5488451711400882
 Gonzaga 0.5017987767973922
 Kansas 0.5254268293900278
 Arizona 0.5443379657296323

In [47]:
sdf = pd.read_csv("mmscores.csv")
sdf.head(2)
sdf.dtypes

Team1      object
Team2      object
Score1    float64
Score2    float64
date       object
dtype: object

In [48]:

scols = ["Score1", "Score2"]
df = sdf.copy()
df["winnerScore"] = 0
df["loserScore"] = 0
df["winnerTeam"] = None
df["loserTeam"] = None
df["tie"] = False
for idx, ser in df.iterrows():
    if ser["Score1"] > ser["Score2"]:
        df.at[idx, "winnerTeam"] = ser["Team1"]
        df.at[idx, "loserTeam"] = ser["Team2"] 
        df.at[idx, "winnerScore"] = ser["Score1"]
        df.at[idx, "loserScore"] = ser["Score2"]         
    elif ser["Score1"] < ser["Score2"] :
        df.at[idx, "winnerTeam"] = ser["Team2"]
        df.at[idx, "loserTeam"] = ser["Team1"] 
        df.at[idx, "winnerScore"] = ser["Score2"]
        df.at[idx, "loserScore"] = ser["Score1"] 
    else:
        df.at[idx, "tie"] = True
df.head()

,Team1,Team2,Score1,Score2,date,winnerScore,loserScore,winnerTeam,loserTeam,tie
0,Bryant,Wright St.,59.0,67.0,2022-03-16,67,59,Wright St.,Bryant,False
1,Dayton,Toledo,57.0,40.0,2022-03-16,57,40,Dayton,Toledo,False
2,Virginia,Mississippi St.,32.0,32.0,2022-03-16,0,0,None,None,True
3,UMES,Coastal Carolina,27.0,40.0,2022-03-16,40,27,Coastal Carolina,UMES,False
4,Morgan St.,Youngstown St.,6.0,13.0,2022-03-16,13,6,Youngstown St.,Morgan St.,False

In [49]:
all_teams = list(set(df.Team1.unique()).union(df.Team2.unique()))
len(all_teams)

796

In [51]:
wins = pd.DataFrame(df.winnerTeam.value_counts())
losses = pd.DataFrame(df.loserTeam.value_counts())
ties1 = pd.DataFrame(df.loc[df["tie"]].Team1.value_counts())
ties2 = pd.DataFrame(df.loc[df["tie"]].Team2.value_counts())

ties = ties1.join(ties2)
ties["cnt"] = ties.sum(axis=1)
ties.drop(columns=["Team1", "Team2"], inplace=True)

wldf = wins.join(losses)
wldf = wldf.join(ties)
wldf.reset_index(inplace=True)

wldf.columns = ["team", "wins", "losses", "ties",]
wldf.fillna(0, inplace=True)
wldf["games"] = wldf[["wins", "losses", "ties"]].sum(axis=1)
wldf.sort_values(by="wins", inplace=True)
wldf.tail(45)

                   team  wins  losses  ties  games
54        San Diego St.    24     8.0   1.0   33.0
49             Illinois    24     9.0   0.0   33.0
26            Texas A&M    25    12.0   0.0   37.0
27                Drake    25     9.0   0.0   34.0
28                 Iona    25     7.0   1.0   33.0
29              Belmont    25     8.0   0.0   33.0
30          Saint Louis    25    11.0   0.0   36.0
31             Arkansas    25     8.0   0.0   33.0
32       Louisiana Tech    25    11.0   0.0   36.0
33       Loyola Chicago    25     7.0   0.0   32.0
35               Dayton    25    10.0   0.0   35.0
36       North Carolina    25     9.0   0.0   34.0
37              Wyoming    25     9.0   0.0   34.0
38            Wisconsin    25     7.0   0.0   32.0
39    Saint Mary's (CA)    25     7.0   0.0   32.0
40           Texas Tech    25     9.0   0.0   34.0
41             Longwood    25     6.0   3.0   34.0
42          North Texas    25     6.0   0.0   31.0
34               Towson    25     8.0   1.0   34.0
19  Southern California    26     7.0   0.0   33.0
20       New Mexico St.    26     6.0   0.0   32.0
21               Baylor    26     6.0   0.0   32.0
23            Villanova    26     7.0   0.0   33.0
24                 UCLA    26     7.0   1.0   34.0
25           Providence    26     5.0   2.0   33.0
22         Colorado St.    26     5.0   1.0   32.0
18                 Iowa    27     9.0   0.0   36.0
17              Gonzaga    27     3.0   3.0   33.0
16            Tennessee    27     7.0   0.0   34.0
15            Boise St.    27     7.0   0.0   34.0
6                Toledo    28     8.0   0.0   36.0
7                Auburn    28     5.0   0.0   33.0
8              Kentucky    28     7.0   0.0   35.0
9                   UAB    28     7.0   0.0   35.0
10          Montana St.    28     7.0   0.0   35.0
12             Davidson    28     6.0   0.0   34.0
13                 Duke    28     6.0   0.0   34.0
14          Chattanooga    28     7.0   0.0   35.0
11               Purdue    28     7.0   0.0   35.0
5                Kansas    29     6.0   0.0   35.0
4               Vermont    30     5.0   0.0   35.0
3            Murray St.    30     2.0   0.0   32.0
2      South Dakota St.    30     4.0   0.0   34.0
1               Houston    31     5.0   0.0   36.0
0               Arizona    32     3.0   0.0   35.0

In [75]:
realdf = wldf.loc[wldf["games"] > 20].copy()
realdf.sort_values(by="wins", inplace=True, ascending=False)
display(realdf.head(2))
realteams = realdf["team"].values
print(realdf.shape)

      team  wins  losses  ties  games
0  Arizona    32     3.0   0.0   35.0
1  Houston    31     5.0   0.0   36.0

(358, 5)

In [82]:
sqdf = pd.DataFrame(columns=teams, index=teams)
for idx, ser in df.iterrows():
    if ser["winnerTeam"] in realteams and ser["loserTeam"] in realteams:
        sqdf.at[ser["winnerTeam"], ser["loserTeam"]] = ser["winnerScore"] - ser["loserScore"]
        sqdf.at[ser["loserTeam"], ser["winnerTeam"]] = ser["loserScore"] - ser["winnerScore"]

In [84]:
sqdf.head()
#display(sqdf.sum(axis=1))
#display(sqdf.sum(axis=0))

,Arizona,Houston,South Dakota St.,Murray St.,Vermont,Kansas,UAB,Toledo,Auburn,Kentucky,...,Fairleigh Dickinson,Eastern Ill.,William & Mary,Green Bay,IUPUI,Columbia,Oregon St.,Delaware St.,Lamar University,Mississippi Val.
Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN
Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Dakota St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Murray St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13,NaN,...,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df.shape

(6102, 10)

In [89]:
sqdf.shape[0] * sqdf.shape[1] - sqdf.isna().sum().sum()

7396